/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: url('/img/dfdfdf-bg.png') repeat;
  color: #333;
  font-size: 20px;
  font-family: 'Alegreya Sans', 'Helvetica', 'Arial', sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.cursive {
  font-family: 'Bad Script', cursive, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: none;
}

header {
  background: #828C96;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  line-height: 40px;
  z-index: 100;
  text-shadow: none;
  font-family: 'Josefin Sans', sans-serif;
}

header a, header a:hover, header a:visited {
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
}

header a.home img {
  position: relative;
  top: -2px;
  height: 15px;
}

header a.home:hover {
  text-decoration: none;
}

section {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
  text-shadow: 0 1px #fff;
}

article {
  width: 800px;
  margin: 0 auto;
  position: relative;
  padding: 80px 0 40px;
}

h1, h2, h3, h4, h5, header {
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

.center {
  margin: 0 auto;
  text-align: center;
}

p.center {
  margin: 10px auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

a.directions {
  padding-right: 20px;
  background-image: url('/img/directions.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 15px 15px
}

a.directions:hover {
  background-image: url('/img/directions-hover.png');
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, a:hover, a:visited {
  color: #333;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

.coming-soon {
  background: url('/img/coming-soon.png');
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  margin: 60px auto 0;
}

.home .details {
  padding: 20px 0;
}

.home .couples {
  float: left;
  height: 577px;
  width: 400px;
  background-size: 100% 100%;
  background-image: url('/img/couple-800x1155.png');
}

.home .names {
  text-align: center;
  overflow: visible;
  z-index: 1;
  font-size: 43px;
  padding: 165px 0 0;
}

.about .story {
  padding: 25px 0;
}

.about .image-row {
  height: 150px;
  width: 800px;
}

.about .title {
  padding: 0 0 20px 0;
}

.event .map {
  width: 800px;
  height: 200px;
  margin: 30px 0 10px;
}

.event .addthisevent-drop {
  display: inline;
  padding: 0 20px 0 0;
  font-size: 18px;
  text-align: center;
  font-family: inherit;
  background: transparent url('/img/calendar.png') no-repeat top right;
  background-size: 15px 15px;
  border: none;
  font-weight: normal;
}

.event .addthisevent-drop:hover {
  border: none;
  font-weight: normal;
  font-size: 18px;
  text-decoration: underline !important;
}

.lodging .map {
  margin: 30px 0 20px;
  width: 800px;
  height: 200px;
}

.lodging .address {
  margin: 0 0 20px 0;
}

.lodging .loews {
  background: url('/img/loews.jpg') no-repeat top right;
  background-size: 100% 100%;
  width: 300px;
  height: 197px;
  margin: 0 30px 30px 0;
}
 
.registry .options {
  width: 800px;
  margin: 0 auto;
}

.registry .options {
  margin: 30px 0 0 0;
}

.registry .options li {
  width: 200px;
  padding: 15px 20px;
  margin-right: 22px;
  float: left;
  border: 1px solid #aaa;
  box-shadow: 0px 1px 4px #999;
  border-radius: 7px;
  background: #efefef;
}

.registry .options li:last-child {
  margin: 0;
}

@media (max-width: 900px) {
  article, section {
    width: 500px;
    margin: 0 auto;
  }

  .about .image-row {
    width: 500px;
    height: 93px;
  }

  .about .story {
    padding: 10px 0;
  }

  .home .couples {
    float: none;
    width: 300px;
    height: 433px;
    margin: 0 auto;
  }

  .home .names {
    font-size: 30px;
    padding-top: 20px;
  }

  .home h2 {
    font-size: 26px;
  }

  .home h4 {
    font-size: 20px;
  }

  .event .map, .lodging .map {
    width: 500px;    
  }

  h1 {
    font-size: 32px
  }
}

@media (max-width: 600px) {
  header {
    font-size: 12px;
    padding: 0;
    text-align: center;
  }

  header a, header a:hover, header a:visited {
    padding: 0 3px;
  }

  header a.home img {
    height: 11px;
  }

  article, section {
    width: 300px;
    margin: 0 auto;
  }

  .about .image-row {
    width: 300px;
    height: 56px;
  }

  .home .spouse.image {
    width: 300px;
    height: 300px;
  }

  .scotch-tape {
    width: 100px;
    height: 38px;
  }

  h1 {
    font-size: 20px
  }

  h2 {
    font-size: 18px
  }

  h3 {
    font-size: 16px
  }

  h4 {
    font-size: 14px
  }

  .event .map, .lodging .map {
    width: 300px;    
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
   (-o-min-device-pixel-ratio: 5/4),
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
      background: transparent !important;
      color: #000 !important; /* Black prints faster: h5bp.com/s */
      box-shadow: none !important;
      text-shadow: none !important;
  }

  a,
  a:visited {
      text-decoration: underline;
  }

  a[href]:after {
      content: " (" attr(href) ")";
  }

  abbr[title]:after {
      content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
      content: "";
  }

  pre,
  blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
  }

  thead {
      display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
      page-break-inside: avoid;
  }

  img {
      max-width: 100% !important;
  }

  @page {
      margin: 0.5cm;
  }

  p,
  h2,
  h3 {
      orphans: 3;
      widows: 3;
  }

  h2,
  h3 {
      page-break-after: avoid;
  }
}
