---
layout: site
title: About Us - Jesse and Monica are Getting Married!
body_class: about
---

{% assign images = site.data.collage %}
{% assign story = site.data.story %}
{% assign rows = images | size | divided_by: 4 | minus: 1 %}

<article class="clearfix">
  <h1 class="title">About Us</h1>
  <ul class="collage">
    {% for row in (0..rows) %}
      <div class="row clearfix">
      {% for column in (0..3) %}
        {% assign index = row | times: 4 | plus: column %}
        {% assign img = images[index] %}
        <li style="background-image: url(/img/collage/{{img.src}}.jpg); width: {{ img.width }}px;"></li>
      {% endfor %}
      </div>
      <h4 class="story center">
        {{ story[row] }}
      </h4>
    {% endfor %}
  </ul>
</article>
